{
    "device_1": [
        {"at": "9:50", "status": true},
        {"at": "11:12", "status": false},
        {"at": "12:50", "status": true},
        {"at": "13:20", "status": false},
        {"at": "17:30", "status": true},
        {"at": "23:59", "status": false}
    ],
    "device_2": [
        {"at": "9:50", "status": true},
        {"at": "11:12", "status": false},
        {"at": "12:50", "status": true},
        {"at": "13:20", "status": false},
        {"at": "17:30", "status": true},
        {"at": "23:59", "status": false}
    ],
    "device_3": [
        {"at": "9:50", "status": true},
        {"at": "11:12", "status": false},
        {"at": "12:50", "status": true},
        {"at": "13:20", "status": false},
        {"at": "17:30", "status": true},
        {"at": "23:59", "status": false}
    ],
    "device_4": [
        {"at": "9:50", "status": true},
        {"at": "11:12", "status": false},
        {"at": "12:50", "status": true},
        {"at": "13:20", "status": false},
        {"at": "17:30", "status": true},
        {"at": "23:59", "status": false}
    ],
    "device_5": [
        {"at": "9:50", "status": true},
        {"at": "11:12", "status": false},
        {"at": "12:50", "status": true},
        {"at": "13:20", "status": false},
        {"at": "17:30", "status": true},
        {"at": "23:59", "status": false}
    ]
}